extends ../layouts/default.pug 

block main 

    //- Section 10
    .section-10 
        img(src="/admin/assets/images/error-404.svg" class="inner-image")
        h1.inner-title Trang này không tồn tại...
        a(href=`/${pathAdmin}/dashboard` class="inner-back") Trở về trang tổng quan
    //- End Section 10